/***** GLOBAL *****/
* {
  box-sizing: border-box;
}
body {
  background-color: #23689b;
}

/***** HEADER *****/
h1 {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  color:#f4f5db;
  font-size: 4em;
}
#book-stack {
  height: 200px;
}


/***** MAIN AREA *****/
h4 {
  font-family: 'Libre Caslon Text', serif;
  color: #f4f5db;
}
.book {
  background: #fff;
}
.book:hover {
  background-color: #d9dab0;
  cursor: pointer;
}
#add-btn {
  background: #f4f5db;
  color: #000;
}
#delete-btn {
  height: 25px;
  width: 25px;
}
#delete-btn:hover {
  cursor: pointer;
}
