/***** GLOBAL *****/
* {
  box-sizing: border-box;
}
body {
  background-color: #487e95;
}

/***** HEADER *****/
h1 {
  font-family: 'Libre Caslon Text', serif;
  font-weight: 700;
  color:#f4f5db;
  font-size: 4em;
}
#book-stack {
  height: 200px;
}


/***** MAIN AREA *****/
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #f4f5db;
}
.book {
  background: #fff;
}
.book:hover {
  background: #d9dab0;
  cursor: pointer;
}
.book {
  font-family: 'Raleway', sans-serif;
  width: 90%;
  border: none;
}
#add-btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #433d3c;
  background: #f4f5db;
}
input {
  font-family: 'Raleway', sans-serif;
}
.delete {
  background: #f4f5db;
}
.fas {
  color: #433d3c;
}
